@theme "~/.config/rofi/rofi-theme.rasi"

configuration {
  modi: "window,drun,ssh";
  font: "hack 10";  
  show-icons: true;
  terminal: "kitty";
  drun-display-format: "{icon} {name}";
  location: 0;
  display-drun: "drun";
  display-ssh: "ssh";
  display-window: "window";
  sidebar-mode: true;
}


