* {
    font-family: 'JetBrainsMono Nerd Font Mono'; 
    font-size: 11px;
    color: white;
    margin-right: 3px;
    margin-left: 3px; 
    padding-right: 5px;   
    padding-left: 5px;
    border-radius: 10px;
}

.modules-center {
    font-size: 10px; 
}

window#waybar {
    background-color: transparent;
}

#custom-power {
    background-color: red;
}

#cpu {
    background-color: rgb(55, 4, 117);
}

#temperature {
    background-color: rgb(19, 100, 189);  
}

#temperature.critical {
    background-color: red;
}

#memory {
    background-color: rgb(55, 4, 117); 
} 

#workspaces {
    background-color: rgb(19, 100, 189); 
}

#workspaces button {
    color: transparent;
    background-color: transparent;
    font-weight: bold; 
    padding: 0px;
    margin: 2px 1px 2px 1px;
    text-shadow: 1px 1px 2px black; 
}

#workspaces button:hover {
    background: transparent;
    border: none;
    box-shadow: none;
} 

#workspaces button.active {
    background-color: rgb(53, 141, 204);
}

#pulseaudio {
    background-color: rgb(19, 100, 189);
}

#backlight {
    background-color: rgb(55, 4, 117);
}

#network {
    background-color: rgb(19, 100, 189);
}

#battery {
    background-color: rgb(55, 4, 117);
}

